header{ 
 background: aqua; 
 height: 150px;

}
/* ==================main-section시작====================== */
main .img-box {
  background: url(https://www.monami.com/images/main/visual1.jpg) no-repeat; 
  height: 650px;
padding: 160px 0 0 220px;
  
  background-position: center; 

}
main .main-line{
  margin-bottom: 20px;
  width: 80px;
  border-bottom: 2px solid white;
}
main .main-text h1 {
  /* margin-top: 100px; */
color: white;
 font-size: 48px;
 font-weight: 80;
 line-height: 1.2;

}
main p {
    color:rgba(255, 255, 255, 0.8);
    margin-top: 30px;
    line-height: 1.3;
    

}

/* =============main-section 종료======================== */
/* =============new-section 시작======================== */

main .new-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .new-section .first-area{
  display: flex;
 margin-top: 100px;

/* width: 1300px; */
}

main .new-section h2{
  
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 550;
  letter-spacing: 2px;
  line-height: 1.3;
}

main .new-line{
  width: 30px;
   border-bottom: 4px solid  #C40F39; 
  
}
main .new-section .first-area h3{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  color: gray;
}
main .new-section img{ 
  margin-right: 20px;
  border-radius: 20px;
}
main .new-section .new-image2{
   display: flex; 
  margin-top: 20px;
  align-items: flex-start;
  
}
/* ======================new-section 종료=================== */
/* ======================best-section 시작 ==================*/

main .best-section{
  margin-top: 100px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .best-section .best-title h3{
  font-size: 35px;
  margin-top: 100px;
  font-weight: 550;
  letter-spacing: 3px;
  
}
main .best-section .best-line{
  margin-top: 16px;
  border-bottom: 4px solid #C40F39 ;
  width: 30px;
  margin-left: 130px;
}
main .best-section .best-title h4{
  margin-top: 15px;
  margin-left: 15px;
  color: #555;
  font-size: 14px;

}
main .best-section .buttons{
   display: flex; 
   margin-top: 50px;
}
main .best-section button{
  background-color: #eee;
  border-radius: 20px;
  border: 2px solid #bcbcbc;
  width: 170px;
  height: 38px;
  color: #898989;
  margin-right: 5px;
  font-weight: 500;
}
main .best-section button:hover{
  border-color: #C40F39;
  color:#C40F39;
}
main .best-photos{
  margin-top: 50px;
  display: flex;
}
main .best-photos img{
  width: 270px;
  border-radius: 20px ;
}
main .best-section .best-photos li{
  border-radius: 20px;
  background: white;
  height: 500px;
  margin-right: 20px;
}
main .best-section .best-photos .best-text{
  margin-left: 20px;
}
main .best-section .best-photos .best-text p{
  color:#b3b3b3;
  font-size: 12px;
  margin-bottom: 5px;
} 
main .best-section .best-photos .best-text h5{
  font-weight: bold;
}
main .best-section .drag-line{
  display: flex;
  height: 50px;
  margin-top: 50px;
  justify-content: flex-start;
  width: 100%;
  
}
main .best-section .drag-line .first-line{
 
  border-top: 1px dotted #898989;
  font-weight: 100;
  width: 20%;
  margin-top: 8.5px;
  
  
}

main .best-section .drag-line .second-line{
  border-top: 1px dotted #898989;
  font-weight: 100;
  width: 30%;
 
  margin-top: 8.5px;
  
  
}
main .best-section .drag-line .cursor{
margin-left: 20px;
margin-right: 20px;
}
main .best-section .drag-line .third-line{
  border-top: 1px dotted #898989;
  font-weight: 100;
  width: 20%;
  margin-top: 8.5px;
 
}

main .best-section .drag-line .fourth-line{
  border-top: 1px dotted #898989;
  font-weight: 100;
  width: 30%;
  margin-top: 8.5px;
  
}

body main .best-section .drag-line-info{
  
  font-size: 12px;
  margin-bottom: 80px;
}
  


   
/* ==========best-section 끝============== */
/* ==========video-section 시작============  */

main .video-section img{
  width: 100%;
  min-height: 100%;
  margin: 0 0 0 0; 
 }
 /* =========video-section 끝 ============= */
 /* ========last-section 시작============== */
main .last-section{
  display: flex;
  justify-content: center;
  height: 360px;
  
  
 
}
main .last-section .monami-news{
  
  width: 50%;
 
  
}
main .last-section .monami-news .news-title{
  margin: 30px;
}
main .last-section .monami-news .news-title1{
  display: flex;
  justify-content: space-between;
}
main .last-section .monami-news .news-title h5{
  font-size: 20px;
  font-weight: 550;
}
main .last-section .monami-news .news-title1 a{
  font-size: 12px;
  text-decoration: underline;

}
main .last-section .monami-news .news-title .news-line{
  margin-top: 10px;
  width: 25px;
  border-bottom: 4px solid #C40F39;
}
main .last-section .monami-news .news-list img{
  width: 164px;
  height: 116px;
  
  
  
}
main .last-section .monami-news .monami-news-first{
  display: flex;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #b3b3b3;
}
main .last-section .monami-news .monami-news-first .monami-news-text{
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
main .last-section .monami-news .monami-news-first article{
  font-size: 20px;
  font-weight: 500;
}
main .last-section .monami-news .monami-news-first h6{
  color: #555;
  font-size: 13px;
  margin-top: 10px;
  line-height: 1.5;
  font-weight: 520;
}
main .last-section .monami-news .monami-news-first .date{
  margin-top: 50px;
  margin-left:450px;
  color: #898989;
  font-size: 12px;
}
main .last-section .monami-news .monami-news-second{
  margin-top: 15px;
  font-size: 13px;
  color: #555;
  font-weight: 520;
  display: flex;
  justify-content: space-between;

  
}
main .last-section .monami-news .monami-news-second li{
  margin-bottom: 10px;
}
main .last-section .monami-news .monami-news-second-date{
  color: #898989;
  font-size: 12px;
}

main .last-section .inquiry{
  width: 22%;
  background: url(https://www.monami.com/images/main/inquiry_bg.jpg);
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
  border-left: 1px solid #bcbcbc;
  border-right:1px solid #bcbcbc;
} 
main .last-section .inquiry img{
  width: 40px;
  height: 40px;
}
main .last-section .text{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 550;
  text-align: center;
}
main .last-section .line{
  border-bottom: 4px solid #C40F39;
  width: 25px;
  margin-top: 10px;
  margin-left: 110px;
 
  
}
main .last-section .text h3{
  color: #555;
  font-size: 13px;
  margin-top: 20px;
  line-height: 1.4;
  font-weight: 300;

}
main .last-section .inquiry button{
  margin-top: 40px;
  width: 170px;
  height: 40px;
  font-size: 17px;
  color: #C40F39;
  border:2px solid #C40F39;
  border-radius: 20px;
  background: url(https://www.monami.com/images/main/inquiry_bg.jpg) ;
}
main .last-section .inquiry button:hover{
  background: #C40F39;
  color: white;
}

main .last-section .brand-store{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22%;
  background: url(https://www.monami.com/images/main/shop_bg.png);
  background-size: cover;
  border-right:1px solid #bcbcbc;
}
main .last-section .brand-store button{
  margin-top: 40px;
  width: 170px;
  height: 40px;
  font-size: 17px;
  color: #C40F39;
  border:2px solid #C40F39;
  border-radius: 20px;
  background: url(https://www.monami.com/images/main/shop_bg.png);
}
main .last-section .brand-store button:hover{
  background: #C40F39;
  color: white;
}
footer{
  background: palevioletred;
  height: 200px;
}